{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>{{ todolists.name }}</h1>
            <h2>Reminders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tasks</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ todolist.name }}</td>
                            <td></td>
                        </tr>
                     </tbody>
                </table>
            </div>
    </main>
{% endblock content %}